.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 50px;
}

.homepage h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

.homepage a {
  padding: 10px 50px;
  background: yellow;
  border-radius: 5px;
  width: fit-content;
  font-weight: 700;
  transition: .9s;
  
}

.homepage a:hover {
  background: transparent;
  border: 1px solid yellow;
  color: white;
}